<% layout ('./layouts/boilerplate') %>

<a href="/articles" class="text-decoration-none text-dark"><h1>Omdia Articles</h1></a>
<a href="/articles/new" class="text-decoration-none">Add new Article</a>
<div class="container-fluid mt-4">
  <div class="row">

    <!-- Sidebar Filter -->
    <div class="col-md-4">
      <form method="GET" action="/articles" class="border rounded p-3 bg-light">
        
        <!-- Search Bar -->
        <div class="mb-3">
          <!-- <label for="search" class="form-label fw-bold">Search by Title</label> -->
          <input 
            type="text" 
            class="form-control" 
            name="search" 
            id="search" 
            placeholder="Search using keywords" 
            value="<%= search %>">
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary w-50">Apply Filters</button>
          <a href="/articles" class="btn btn-secondary w-50">Reset Filters</a>
        </div>
        <hr>
        <!-- Domains -->
        <!-- <div class="mb-3">
          <label class="form-label fw-bold">Domains</label>
          <% allDomains.forEach(domain => { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="domains" value="<%= domain %>" 
                     <%= selectedDomains.includes(domain) ? 'checked' : '' %> id="domain-<%= domain %>">
              <label class="form-check-label" for="domain-<%= domain %>">
                <%= domain.charAt(0).toUpperCase() + domain.slice(1) %>
              </label>
            </div>
          <% }) %>
        </div> -->


        <!-- Domains -->
        <!-- <div class="dropdown mb-3 my-2">
          <button class="btn btn-outline-success dropdown-toggle w-50" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Domains
          </button>
          <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton">
            <li>
              <% allDomains.forEach(domain => { %>
              <div class="form-check">
                <input class="form-check-input mx-1" type="checkbox" name="domains" value="<%= domain %>" 
                  <%= selectedDomains.includes(domain) ? 'checked' : '' %> id="domain-<%= domain %>">
                <label class="form-check-label" for="domain-<%= domain %>">
                  <%= domain.charAt(0).toUpperCase() + domain.slice(1) %>
                </label>
              </div>
            </li>
            <% }) %>
          </ul>
        </div> -->

      <div class="dropdown mb-3 my-2">
        <button class="btn btn-outline-success dropdown-toggle w-50" type="button" 
                data-bs-toggle="collapse" data-bs-target="#domainList" aria-expanded="false">
          Domains
        </button>

        <div id="domainList" class="collapse show w-75 mt-2">
          <% allDomains.forEach(domain => { %>
            <div class="form-check">
              <input class="form-check-input mx-1" type="checkbox" name="domains" value="<%= domain %>" 
                <%= selectedDomains.includes(domain) ? 'checked' : '' %> id="domain-<%= domain %>">
              <label class="form-check-label" for="domain-<%= domain %>">
                <%= domain.charAt(0).toUpperCase() + domain.slice(1) %>
              </label>
            </div>
          <% }) %>
        </div>
      </div>


        <hr>
        <!-- Tags -->
        <div class="dropdown mb-3 my-2">
          <button class="btn btn-outline-success dropdown-toggle w-50" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Topics
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            <li>
              <% allTags.forEach(tag => { %>
              <div class="form-check">
                <input class="form-check-input mx-1" type="checkbox" name="tags" value="<%= tag %>" 
                  <%= selectedTags.includes(tag) ? 'checked' : '' %> id="tag-<%= tag %>">
                <label class="form-check-label" for="tag-<%= tag %>">
                  <%= tag.charAt(0).toUpperCase() + tag.slice(1) %>
                </label>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>


        <!-- Tags
        <div class="mb-3">
          <label class="form-label fw-bold">Tags</label>
          <% allTags.forEach(tag => { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="tags" value="<%= tag %>" 
                     <%= selectedTags.includes(tag) ? 'checked' : '' %> id="tag-<%= tag %>">
              <label class="form-check-label" for="tag-<%= tag %>">
                <%= tag %>
              </label>
            </div>
          <% }) %>
        </div>-->

       
      </form>

    </div> 

    <!-- Articles Section -->
    <div class="col-md-8">
      <% if (articles.length === 0) { %>
        <div class="alert alert-warning">No articles found.</div>
      <% } else { %>
          <% articles.forEach(article => { %>
            <a href="articles/<%= article._id %>" class="text-decoration-none text-dark article-link" >
            <div class="col">
              <div class="card h-100 border-0">
                <!-- <% if (article.img1URL.length > 0) { %>
                  <img src="<%= article.img1URL[0] %>" class="card-img-top d-block mx-auto" alt="Image" style="height: auto; max-width: 200px;">
                <% } %> -->
                <div class="card-body">
                  <h5 class="card-title"><%= article.title %></h5>
                  <p>Domains
                    <% if (article.domains && article.domains.length > 0) { %>
                            <% article.domains.forEach((domain) => { %>
                            <a href="/articles?domains=<%= domain %>" class="badge bg-success text-decoration-none me-1">
                    <%= domain %>
                                </a>
                                <% }) %>
                                <% } else { %>
                                    None
                                <% } %>
                
                  | 
                  Topics
                    <% if (article.tags && article.tags.length > 0) { %>
                    <% article.tags.forEach((tag, index) => { %>
                    <a href="/articles?tags=<%= tag %>" class="badge bg-primary text-decoration-none me-1">
                    <%= tag %>
                    </a>
                 <% }) %>
                <% } else { %>
                 None
                <% } %>

                |
                    <% if (article.month) { %>
                    <a href="/articles?month=<%= article.month %>" class="badge bg-secondary text-decoration-none me-1">
                    <%= article.month %>
                    </a>
                <% } else { %>
                 None
                <% } %>
                </p>
                <p>
                  <%= article.summary %>
                </p>
                </div>
              </div>
              <hr>
            </div></a>
          <% }) %>
      <% } %>
      
        </div>

      <!-- Pagination -->
      <% if (totalPages > 1) { %>
        <nav>
          <ul class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <form method="GET" action="/articles" class="d-inline">
                  <% selectedDomains.forEach(d => { %>
                    <input type="hidden" name="domains" value="<%= d %>">
                  <% }) %>
                  <% selectedTags.forEach(t => { %>
                    <input type="hidden" name="tags" value="<%= t %>">
                  <% }) %>
                  <input type="hidden" name="page" value="<%= i %>">
                  <button type="submit" class="page-link"><%= i %></button>
                </form>
              </li>
            <% } %>
          </ul>
        </nav>
      <% } %>
    </div>

  </div>
</div>

